@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-gd {
  height: 100vh;
  /* Full viewport height */
  width: 100vw;
  /* Full viewport width */
  background: radial-gradient(#52626d, #4B5963);
  background-size: cover;
}

.grid-cell {
  @apply border rounded size-16 text-white flex justify-center items-center text-2xl
}

.line {
  @apply flex flex-row items-center justify-center gap-1 mb-1 rounded
}

.keyboard-line {
  @apply flex flex-row items-center justify-center gap-2 my-2
}

.keyboard-cell {
  @apply border rounded size-16 text-white flex justify-center items-center text-2xl cursor-pointer
}